[submodule "resources/intro_2_slurm"]
	path = resources/intro_2_slurm
	url = https://github.com/viktor1223/intro_2_slurm.git
[submodule "resources/sgl-learning-materials"]
	path = resources/sgl-learning-materials
	url = https://github.com/sgl-project/sgl-learning-materials.git
[submodule "resources/vllm"]
	path = resources/vllm
	url = https://github.com/vllm-project/vllm.git
[submodule "resources/sglang2025"]
	path = resources/sglang2025
	url = https://github.com/sgl-project/sglang.git
[submodule "resources/ome"]
	path = resources/ome
	url = https://github.com/sgl-project/ome.git
[submodule "resources/k3d"]
	path = resources/k3d
	url = https://github.com/k3d-io/k3d.git
[submodule "resources/slurm"]
	path = resources/slurm
	url = https://github.com/SchedMD/slurm.git
[submodule "resources/nemo-curator"]
	path = resources/nemo-curator
	url = https://github.com/NVIDIA-NeMo/Curator.git
[submodule "resources/tilert"]
	path = resources/tilert
	url = https://github.com/tile-ai/TileRT.git
[submodule "resources/torch-examples"]
	path = resources/torch-examples
	url = https://github.com/pytorch/examples.git
[submodule "resources/deepspeed"]
	path = resources/deepspeed
	url = https://github.com/deepspeedai/DeepSpeed.git
[submodule "resources/megatron-lm"]
	path = resources/megatron-lm
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule "resources/deepspeed-examples"]
	path = resources/deepspeed-examples
	url = https://github.com/deepspeedai/DeepSpeedExamples.git
[submodule "resources/awesome-ml-sys-tutorial"]
	path = resources/awesome-ml-sys-tutorial
	url = https://github.com/zhaochenyang20/Awesome-ML-SYS-Tutorial.git
[submodule "resources/genai-bench"]
	path = resources/genai-bench
	url = https://github.com/sgl-project/genai-bench.git
[submodule "resources/guidellm"]
	path = resources/guidellm
	url = https://github.com/vllm-project/guidellm.git
