{
  "include_math": true,
  "lang": "en",
  "chapter_style": "square",
  "template": "lulu_7x10.tpl",
  "book_title": "Distributed AI Systems",
  "running_header": "Distributed AI Systems",
  "book_title_jp": "Distributed AI Systems",
  "running_header_jp": "Distributed AI Systems",
  "appendix_divider_title_jp": "付録",
  "book_title_sp": "Distributed AI Systems",
  "running_header_sp": "Distributed AI Systems",
  "appendix_divider_title_sp": "Apéndice",
  "book_title_en": "Distributed AI Systems",
  "running_header_en": "Distributed AI Systems",

  "author": "玄心",
  "author_zh": "玄心",
  "author_en": "Fuheng Wu",
  "book_title_zh": "分布式 AI 系统",
  "running_header_zh": "分布式 AI 系统",
  "batch_default_langs": ["cn", "en"],

  "enable_spot_heading_layout": true,
  "enable_styled_subsection_lua": true,

  "enable_chapter_titlepage_odd_page": true,

  "enable_pod_safe_margins": true,

  "enable_peanut_font_settings": true,
  "body_font_pt": 12,
  "body_baselineskip_ratio": 1.1,

  "enable_english_body_font_bump": false,
  "enable_chinese_body_font_bump": true,

  "spot_section_number_font_size_pt": 13,
  "spot_section_number_font_baselineskip_pt": 16,
  "spot_section_title_font_size_pt": 14,
  "spot_section_title_font_baselineskip_pt": 16,

  "code_block_font_size": "small",
  "table_font_size": "small",
  "code_annotation_style": "circle",
  "code_line_numbers": true,

  "spot_first_section_extra_above": "-1.em",
  "spot_heading_vspace": "0.5em",
  "spot_heading_min_lines": 4,

  "enable_chapter_end_poster": true,
  "cover": "7x10",

  "docx_footer_text": "",
  "docx_footer_text_position": "top-right",
  "docx_page_number": false,
  "docx_page_number_position": "bottom-right",
  "main_font": "STIX Two Text",
  "code_font": "JetBrains Mono",
  "bash_wrap_columns": 86
}
